streamlit
sentence-transformers
chromadb
requests
langchain-text-splitters
gitpython
numpy
torch
transformers
pysqlite3-binary
langchain
langsmith
pypdf
pydantic
langchain-ollama
langchain-community
langchain-core  
